<!DOCTYPE html>
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css", media="all">
    <title>Ринат Гарипов</title>
</head>
<body>
    <main>
        <div class="main">
            <div class="info">
                <div class="avatar">
                    <a href="#"><img src="media/images/my_foto.jpg" width="220"  alt="avatar"/></a>
                </div>
                <div class="name">
                    <h1>ГАРИПОВ РИНАТ <br> ИЛЬФАТОВИЧ  </h1>
                    <p id="profession"> Инженер КИПиА </p>
                </div>
                <div class="location">
                    <div class="item">
                        <h3> Казань, Проспект Победы </h3>
                    </div>
                    <div class="item">
                        <h3> Возраст: 35 лет </h3>
                    </div>
                </div>

            </div>
            <div class="contacts">
                <h1>Контакты</h1>
                <hr class="hr-horizontal-gradient">
                <ul class="contact">
                    <li>email
                        <ul>
                            <li>renich_87@mail.ru</li>
                            <li>elshturmna87@mail.com</li>
                        </ul>
                    </li>
                    <li>skype
                        <ul>
                            <li>skype</li>
                        </ul>
                    </li>
                    <li><a href="https://github.com/Rinatgi", target="_blank">githab</a></li>
                </ul>
            </div>
            <div class="work">
                <h1> ОПЫТ РАБОТЫ </h1>
                <hr class="hr-horizontal-gradient">
                <div class="date">
                    <p class="year">2017 - н.в </p>
                </div>
                <div class="item">
                    <h2>ВентКлиматСервис</h2>
                    <ul> Сервисный инженер </ul>
                        <li> Обслуживание и ремонт систем холодоснабжения,вентиляции,BMS </li>
                        <li> Монтаж и ПНР систем автоматики </li>
                        <li> Программирование промышленных контроллеров Segnetics,Овен </li>
                        <li> Подбор и заказ оборудования и запчастей </li>
                    </ul>
                </div>
                <div class="date">
                    <p class="year">2013 - 2017  </p>
                </div>
                 <div class="item">
                     <h2>Сервисная компания Техвент</h2>
                    <ul> Инженер КИПиА </ul>
                        <li> Обслуживание и ремонт систем холодоснабжения,вентиляции,ИТП </li>
                        <li> Монтаж и ПНР систем холодоснабжения, вентиляции </li>
                        <li> Cборка щитов автоматики для вентиляционных и холодильных установок.</li>

                 </div>
                <div class="date">
                    <p class="year">2013 - 2017  </p>
                </div>
                 <div class="item">
                     <h2>ООО"Газпром Трансгаз Казань"</h2>
                    <ul> Электромонтер по обслуживанию   </ul>
                        <li> Обслуживание и ремонт электрооборудования КТП 10/0,4 кВ </li>
                        <li> Выполнение оперативных переключений </li>
                        <li> Ремонт электродвигателей, электроприводов </li>

                 </div>
            </div>
            <div class="item" id="skill">
                <h2> Навыки </h2>
                <hr class="hr-horizontal-gradient">
                <ul>
                    <li> PYTHON </li>
                    <progress value="60" max="100"> </progress>
                    <ul>
                        <li> django </li>
                        <li> tkinter </li>
                        <li> selenium </li>
                        <li> kivy </li>
                    </ul>
                    <li> SQL  </li>
                    <progress value="50" max="100"> </progress>
                    <ul>
                        <li> SQL  </li>
                        <li> Postgres </li>
                    </ul>
                    <li> GIT </li>
                    <progress value="60" max="100"> </progress>
                    <li> LINUX </li>
                    <progress value="50" max="100"> </progress>

                </ul>
            </div>

            <div class="item" id="about">
                <h1> О СЕБЕ </h1>
                <hr class="hr-horizontal-gradient">
                <p>
                    Хорошее знание электротехники,электроники,КИП и А (подбор оборудования), принципа работы холодильного
                    и вентиляционного оборудования.Небольшой опыт в обслуживании газовых котлов и КИПиА котельных.
                    Выполнение от электро -монтажных до пусконаладочных работ систем вентиляции,кондиционирования
                    и холодоснабжения.
                </p>
                <p>
                    Опыт работы по наладке системы BMS(системы автоматизации и диспетчеризации зданий).
                    Занимался проверкой эффективности систем вентиляции с составлением паспортов.
                </p>
                <p> Программирование контроллеров Pixel, Danfoss.</p>
                <p>
                    Умение читать электрические и гидравлические схемы.
                    Отсутствие вредных привычек,стрессоустойчивость ответственность, целеустремленность,
                    изучение англ.яз,техническая грамотность.
                </p>
                <p> В свободное время изучаю программирование на языке Python, SQL.</p>

            </div>
        </div>
    </main>
</body>
</html>