<!DOCTYPE html>
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" type="text/css", media="all">
    <title>Ринат Гарипов</title>
</head>
<body>
    <main>
        <div class="main">
            <div class="top">
                <div class="info">
                    <div class="avatar">
                        <a href="#"><img src="media/images/my_foto.jpg" width="220"  alt="avatar"/></a>
                    </div>
                    <div class="name">
                        <h1>ГАРИПОВ РИНАТ <br> ИЛЬФАТОВИЧ  </h1>
                        <p id="profession"> Инженер КИПиА </p>
                    </div>
                    <div class="location">
                        <div class="item">
                            <h3> Казань, Проспект Победы </h3>
                        </div>
                        <div class="item">
                            <h3> Возраст: 35 лет </h3>
                        </div>
                    </div>

                </div>
                <div class="contacts">
                    <h1>Контакты</h1>
                    <hr class="hr-horizontal-gradient">
                    <ul class="contact">
                        <li>email
                            <ul>
                                <li>renich_87@mail.ru</li>
                                <li>elshturmna87@mail.com</li>
                            </ul>
                        </li>
                        <li>skype
                            <ul>
                                <li>skype</li>
                            </ul>
                        </li>
                        <li><a href="https://github.com/Rinatgi", target="_blank">githab</a></li>
                    </ul>
                </div>
            </div>
            <div class="center">
                <div class="work">
                    <h1> ОПЫТ РАБОТЫ </h1>
                    <hr class="hr-horizontal-gradient">
                    <div class="date">
                        <p class="year">2017 - н.в </p>
                    </div>
                    <div class="item-work">
                        <h2> ВентКлиматСервис </h2>
                        <h3> Сервисный инженер </h3>
                        <ul class="nav">
                            <li> Обслуживание и ремонт систем холодоснабжения,вентиляции,BMS </li>
                            <li> Монтаж и ПНР систем автоматики </li>
                            <li> Программирование промышленных контроллеров Segnetics,Овен </li>
                            <li> Подбор и заказ оборудования и запчастей </li>
                        </ul>
                    </div>
                    <div class="date">
                        <p class="year">2013 - 2017  </p>
                    </div>
                     <div class="item-work">
                         <h2> Сервисная компания Техвент </h2>
                         <h3> Инженер КИПиА </h3>
                        <ul class="nav">
                            <li> Обслуживание и ремонт систем холодоснабжения,вентиляции,ИТП </li>
                            <li> Монтаж и ПНР систем холодоснабжения, вентиляции </li>
                            <li> Cборка щитов автоматики для вентиляционных и холодильных установок.</li>
                        </ul>
                     </div>
                    <div class="date">
                        <p class="year">2010 - 2013  </p>
                    </div>
                     <div class="item-work">
                         <h2>ООО"Газпром Трансгаз Казань"</h2>
                         <h3> Электромонтер по обслуживанию электрооборудования </h3>
                        <ul class="nav">
                            <li> Обслуживание и ремонт электрооборудования КТП 10/0,4 кВ </li>
                            <li> Выполнение оперативных переключений </li>
                            <li> Ремонт электродвигателей, электроприводов </li>
                        </ul>
                     </div>
                </div>
                <div class="item" id="skill">
                    <h2> Навыки </h2>
                    <hr class="hr-horizontal-gradient">
                    <ul>
                        <li> PYTHON </li>
                        <progress id= "python" value="60" max="100"> </progress>
                        <ul>
                            <li> django </li>
                            <li> tkinter </li>
                            <li> selenium </li>
                            <li> kivy </li>
                        </ul>
                        <li> SQL  </li>
                        <progress id="sql" value="50" max="100"> </progress>
                        <ul>
                            <li> SQL  </li>
                            <li> Postgres </li>
                        </ul>

                        <li> HTML/CSS </li>
                        <progress id='html' value="50" max="100"> </progress>

                        <li> GIT </li>
                        <progress  id="git" value="60" max="100"> </progress>
                        <li> LINUX </li>
                        <progress id='linux' value="50" max="100"> </progress>

                        <li> КИПиА </li>
                        <progress id='kipia' value="100" max="100"> </progress>

                        <li> Холодильная техника </li>
                        <progress id='holod' value="100" max="100"> </progress>

                    </ul>
                </div>
            </div>
            <div class="item" id="about">
                <h1> О СЕБЕ </h1>
                <hr class="hr-horizontal-gradient">
                <ul class="head" >
                    <li >Знаю</li>
                        <ul>
                            <li > Электротехника,электроника,КИП и А </li>
                            <li> Принцип работы холодильного и вентиляционного оборудования </li>
                            <li> Основы программирования на языке функциональных блоков (FBD) </li>
                        </ul>

                    <li>Умею</li>
                        <ul>
                            <li> Читать чертежы, электрические и гидравлические схемы </li>
                            <li> Программирование контроллеров Овен, Segnetics </li>
                            <li> Передача данных через интерфейсные линии связи RS-485, RS-422, RS-232, Modbus </li>
                            <li> Проверка эффективности, балансировка и составление паспортов для систем вентиляции </li>
                            <li> Ремонт компрессоров, насосос и электродвигатей </li>
                            <li> Работа с эксплуатационной и нормативной документацией.</li>
                        </ul>

                    <li>Делал</li>
                        <ul>
                            <li> Обслуживание холодильного оборудования(чиллера), вентиляционных установок, ИТП </li>
                            <li> Сборка щитов управления холодильными установками, вентиляции, ИТП </li>
                            <li> Пусконаладочные работы чиллеров, вентиляционных систем, мультизональных систем
                                 (Mitsubisi,Daikin, Lessar и т.д) </li>
                            <li> Капитальный ремонт компрессоров Bitzer(HSK, CSH, OSK) </li>
                            <li> Опыт работы по наладке системы BMS(системы автоматизации и диспетчеризации зданий)</li>
                            <li> Ремонт деревообробатывающих станков </li>

                        </ul>
                </ul>
                <p>
                    Отсутствие вредных привычек,стрессоустойчивость ответственность, целеустремленность,
                    изучение англ.яз,техническая грамотность.
                </p>
                <p> В свободное время изучаю программирование на языке Python, SQL.</p>

            </div>
        </div>
    </main>
</body>
</html>