body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #e1edeb;
	border-top: 5px solid #7e7e7e;
	margin: 0 auto;
}
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
	font-size:1.2em;
	color:black;
}
ul.nav a {
    display: inline-block;
    width: 5em;
    padding:10px;
    margin: 0 5px;
    background-color: #f4f4f4;
    border: 2px solid #333;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    text-align: center;
}

ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}

ul.nav{
     margin-left: 0px;
     padding-left: 0px;
     list-style: none;
}
ul.nav li {
     display: inline;
}

h1{
    font-family: 'Kurale', 'Arial-Black', serif;
    font-weight: normal;
    color: #6A94CC;
    font-size: 3em;
    margin:0

}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}
h2{
    color:black;
}